* {
  margin: 0;
}

.thumbnail {
  width: 300px;
  display: block;
  margin-bottom: 10px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}
a {
  display: inline-block ;
}

/* CONTAINER STYLES */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 20px;
  padding: 20px 0 0 40px;
  margin: 20 20 0 20px;
  /* border: 30px solid rgb(249, 249, 249); */
  background-color: rgb(249, 249, 249);
}   

/* VIDEO STYLES */
.video-preview {
  width: 100%;
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.video-info-col {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 10px;
}

.video-title {
  font-weight: bold;
  width: 90%;
  margin-bottom: 20px;
}

.video-channel-name {
  color: rgb(100, 100, 100);
  margin-bottom: 4px;
}

.video-stats {
  color: rgb(100, 100, 100);
}

.channel-logo-col { 
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin-right: 10px;
}

.channel-logo {
  width: 30px;
  border-radius: 50%;
}


/* HEADER STYLES */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px; 
}

/* LEFT SECTION */
.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}
 
.youtube-logo {
  height: 24px;
  cursor: pointer;
}

/* MIDDLE SECTION */
.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.search-bar {
  width: 40%;
  font-size: 16px;
  padding-left: 12px;  
  margin: 10px 0 10px 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
  height: 40px;
} 

.search-btn {
  width: 36px;
  height: 40px;
  height: 36px;
  padding: 28px 40px 28px 28;
  margin : 0;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}

.search-icon {
  width: 100%;
  height: 100%;
  border: none;
} 
.voice-search-btn {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  cursor: pointer;
}
.voice-search-icon {
  width: 100%;
  height: 100%;
  border: none;
}


/* RIGHT SECTION */
.right-section {
  display: flex;
  justify-content: space-between  ;
  align-items: center;
  margin: 0 24px 0 28px;
}
.right-section img {
  width: 24px;
  height: 24px;
  margin-left: 28px;
  cursor: pointer;
}

.profile-icon {
  border-radius: 50%;
}